.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
}

.searchBar {
  width: 50%;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.mainDisplay {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.weatherCard {
  margin-top: 30px;
  width: 320px;
  height: 520px;
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.weatherHead {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.weatherDesc {
  font-size: 18px;
  margin-bottom: 20px;
}

.dailyWeather div {
  font-size: 16px;
  margin-top: 10px;
}

.location-dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.location-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.location-dropdown li:hover {
  background-color: #f0f0f0;
}
