@font-face {
  font-family: 'norsebold';
  src: url('Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.side-bar {
  margin: 0;
  background-image: url(leaf.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.side-image {
  height: 100%;
  width: 100%;
}

.main-bar {
  display: grid;
  grid-template-rows: 1.7fr 1.39fr 1.3fr;
  height: 100vh;
}

.alt-rows {
  background-color: rgb(247, 247, 247);
  display: grid;
  grid-template-columns: 0.5fr 4fr 1fr;
}

.form-grid {
  display:flex;
  flex-direction: column;
  margin-left: 6vw;
}

.form-row{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: space-between;
  max-width: 650px;
}

.heading {
  font-family: Roboto;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.form-entry {
  display: inline-block;
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  font-size: 12px;
  margin-right: 50px;
  margin-bottom: 30px;
  flex:1;
}

h2 {
  color: rgb(80, 80, 80);
  font-family: Roboto;
  margin-left: 6vw;
}

.submit{
  background-color: #596D48;
  border: 1px solid rgba(1, 12, 24, 0.15);
  border-radius: 6px;
  box-shadow: rgba(30, 50, 50, 0.3) 2px 2px 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family:Roboto;
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  padding: 6px 25px;
  margin-top: 20px;
  text-align: center;
}

.submit:hover{
  background-color: #6f885a;
}

.log-in{
  font-family: Roboto;
  font-weight: 300;
  margin-top: 25px;
}

.text-area{
  border: 1.5px solid #E5E7EB;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 3px;
  font-family: Roboto;
  width: 168px;
  padding:4px;
}

.text-area:focus {
  outline: none;
}

.text-area:focus:valid{
  border: 1.5px solid #8BC34A;
  background-color:rgba(139, 195, 74, 0.25);
}

.text-area:valid{
  border: 1.5px solid #8BC34A;
}

.text-area:not(:focus):not(:placeholder-shown):invalid{
  border: 1px solid #b92326; 
}

.text-area:focus:not(:placeholder-shown):invalid{
  border: 1px solid #b92326;
  background-color: rgba(185, 35, 38, 0.25);
}

.logo {
  height: 115px;
  padding: 15px;
  font-family: norsebold;
  font-size: 5rem;
  color: white;
  
}

.logo-bar{
  margin-top: 100px;
  display: flex;
  height:150px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.info{
  margin-top: 65vh;
  font-family: Roboto;
  font-size: 12px;
  color: white;
  text-align: center;
}



