body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: Arial, sans-serif;
}

#calc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  border: 2px solid black;
  background-color: black;
}

#display {
  grid-column: span 4;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  border: 1px solid black;
  background-color: #e0e0e0;
  font-size: 40px;
  padding-right: 10px;
  text-align: right; 
}

button {
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}

button.operand {
  background-color: #f0f0f0; /* Light grey background for operand buttons */
}

button.operator {
  background-color: red; /* Red background for operator buttons */
  color: white; /* White text color for better contrast */
}

button.clear {
  background-color: blue; /* Blue background for the clear button */
  color: white; /* White text color for better contrast */
}

button.equals {
  background-color: yellow; /* Yellow background for the equals button */
  color: black; /* Black text color for better contrast */
}

#zero {
  grid-column: span 2;
}
